<div>
  <button class="btn btn-primary">Új verseny létrehozása</button>
  <table class="table table-hover table-striped table-bordered text-center" *ngIf="competitions">
    <caption>Előkészületben lévő versenyek</caption>
    <thead>
      <tr>
        <th scope="col">Kategória</th>
        <th scope="col">Évszám</th>
        <th scope="col">Dátum</th>
        <th scope="col">Véglegesítve</th>
        <th scope="col" class="w-auto"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competition of competitions">
        <td>{{ competition.category }}</td>
        <td>{{ competition.dateOfEvent | date:'yyyy' }}</td>
        <td>{{ competition.dateOfEvent | date:'yyyy.MM.dd.' }}</td>
        <td>
          <div class="text-center">
            <span class="fa fa-check fa-lg" *ngIf="competition.finalized"></span>
            <span class="far fa-square fa-lg" *ngIf="!competition.finalized"></span>
          </div>
        </td>
        <td>
          <div>
            <span class="fa fa-edit fa-lg"></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
