<div>
  <button class="btn btn-primary" (click)="startCreate()">Új verseny létrehozása</button>
  <div class="container collapse mt-3 border border-dark" [ngClass]='{"show": createStarted}'>
    <div class="row mb-2 mt-2">
      <div class="col-2">Település</div>
      <div class="col-3">
        <input type="text" value="" placeholder="Város" />
      </div>
    </div>
    <div class="row mb-2 mt-2">
      <div class="col-2">Kategória</div>
      <div class="col-3">
        <input type="text" value="" placeholder="Kategória" />
      </div>
    </div>
    <div class="row mb-2 mt-2">
      <div class="col-2">Időpont</div>
      <div class="col-3">
        <input type="text" placeholder="Dátum" />
      </div>
    </div>
    <div class="row mb-2 mt-2">
      <div class="col offset-md-2">
        <button type="button" class="btn btn-secondary mr-2">
          Mégse
        </button>
        <button type="submit" class="btn btn-primary">
          Mentés
        </button>
      </div>
    </div>
  </div>
  <table class="table table-hover table-striped table-bordered text-center" *ngIf="competitions">
    <caption>Előkészületben lévő versenyek</caption>
    <thead>
      <tr>
        <th scope="col">Kategória</th>
        <th scope="col">Évszám</th>
        <th scope="col">Dátum</th>
        <th scope="col">Véglegesítve</th>
        <th scope="col" class="w-auto"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let competition of competitions">
        <td>{{ competition.category }}</td>
        <td>{{ competition.dateOfEvent | date:'yyyy' }}</td>
        <td>{{ competition.dateOfEvent | date:'yyyy.MM.dd.' }}</td>
        <td>
          <div class="text-center">
            <span class="fa fa-check fa-lg" *ngIf="competition.finalized"></span>
            <span class="far fa-square fa-lg" *ngIf="!competition.finalized"></span>
          </div>
        </td>
        <td>
          <div>
            <span class="fa fa-edit fa-lg"></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
